<h1>Kid's Dictionary</h1>

<h3>Words</h3>

<% if @terms.any? %>
  <ul>
    <% @terms.each do |term| %>
      <li><a href "/terms/<%= term.id %>"><%= term.term %></a></li>
  <% end %>
</ul>

<% else %>
  <p>There are currently no words</p>
<% end %>

<a href="terms/new">Add a Word</a>
