<h4>Add a New Word</h4>
<form class="" action="/" method="post">
  <div class="form-group">
    <label for="term">Term</label>
    <input class="form-control" type="text" name="term">
  <button class="btn" type="submit" name="button">Enter</button>
  </div>
</form>
